<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            Temp Fail Amount {{.TempFailAmount}}
        </div>
        <div>
            Current Price {{.CurrentPrice}}
        </div>
        <form action="/buyProduct?role={{.UserData.Role}}&login={{.UserData.Login}}&accept=false&id={{.Id}}" method="post">
            <button>Decline</button>
        </form>
        <form action="/buyProduct?role={{.UserData.Role}}&login={{.UserData.Login}}&accept=true&id={{.Id}}" method="post">
            <button>Accept</button>
        </form>
    </div>
</body>
</html>