<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>Number {{.Shop.User.Login}}</div>
    Products
    {{range .Shop.Shop.Products}}
    <div>
        <div>Name {{.Name}}</div>
        <div>Price {{.Price}}</div>
        <div>Amount {{.Amount}}</div>
    </div>
    {{end}}
    <div>
        <form action="/returnProduct?login={{.UserData.Login}}&role={{.UserData.Role}}&shop={{.Shop.User.Login}}" method="post">
            <div>
                <input type="text" name="product" placeholder="Product">
            </div>
            <button>Return</button>
        </form>
    </div>
    <div>
        <form action="/buyProductCustomer?login={{.UserData.Login}}&role={{.UserData.Role}}&shop={{.Shop.User.Login}}" method="post">
            <div>
                <input type="text" name="product" placeholder="Product">
            </div>
            <div>
                <input type="number" name="amount" placeholder="Amount">
            </div>
            <button>Buy</button>
        </form>
    </div>
</body>
</html>