<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        Login {{.UserData.Login}}
    </div>
    <div>
        Balance {{.UserData.Balance}}
    </div>
    <div>
        <form action="/createProduct?login={{.UserData.Login}}&role={{.UserData.Role}}" method="post">
            <div>
                <input type="text" name="name" placeholder="Product Name">
            </div>
            <div>
                <input type="text" name="producer" placeholder="POSTAVSHIK">
            </div>
            <div>
                <input type="date" name="date" placeholder="Date">
            </div>
            <div>
                <input type="number" name="safetime" placeholder="SafeTime">
            </div>
            <div>
                <input type="number" name="temp1" placeholder="StartTemp">
            </div>
            <div>
                <input type="number" name="temp2" placeholder="EndTemp">
            </div>
            <div>
                <input type="number" step= "0.0001" name="price" placeholder="Price">
            </div>
            <button>Add Product</button>
        </form>
    </div>
</body>
</html>