<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/">
            <button>Exit</button>
        </form>
    </div>
    <div>
        Name {{.UserData.Login}}
    </div>
    <div>
        Balance {{.UserData.Balance}}
    </div>
    <div>
        City {{.Shop.City}}
    </div>
    <div>
        Products
    </div>
    {{range .Products}}
    <div>
        <div>Name {{.Name}}</div>
        <div>Price {{.Price}}</div>
    </div>
    {{end}}
    <div>
        <form action="/getCost?role={{.UserData.Role}}&login={{.UserData.Login}}" method="get">
            <div>
                <input type="text" name="name" placeholder="Name">
            </div>
            <div>
                <input type="number" name="amount" placeholder="Amount">
            </div>
            <button>GetCost</button>
        </form>
    </div>
    <div>
        <form action="/shopAcceptCost?role={{.UserData.Role}}&login={{.UserData.Login}}" method="post">
            <div>
                <input type="text" name="name" placeholder="Name">
            </div>
            <div>
                <input type="number" name="amount" placeholder="Amount">
            </div>
            <button>Buy</button>
        </form>
    </div>
    <div>
        Products
    </div>
    {{range .Shop.Products}}
    <div>
        <div>Name {{.Name}}</div>
        <div>Price {{.Price}}</div>
        <div>Amount {{.Amount}}</div>
    </div>
    {{end}}
    <div>
        Requests
    </div>
    {{range .Requests}}
        <div>
            Id {{.Id}}
        </div>
        <div>
            User Login {{.UserLogin}}
        </div>
        <div>
            Product Name {{.ProductName}}
        </div>
    {{end}}
    <div>
        <form action="/handleReturn?login={{.UserData.Login}}&role={{.UserData.Role}}" method="post">
            <div>
                <input type="text" name="id" placeholder="Id">
            </div>
            <div>
                <input type="checkbox" name="result">
            </div>
            <button>Handle</button>
        </form>
    </div>
</body>
</html>